.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.activeItem {
    background-color: #e9ecef;
    color: rgb(16, 16, 16);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/*__________________sidebar__________________2  */



.selectedItem {
    background-color: blue;
}


#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -13rem;
    transition: margin 0.25s ease-out;
    margin-top: 58px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}



#page-content-wrapper {
    min-width: 100vw;
}

.list-group {
    --bs-list-group-color: #212529;
    --bs-list-group-bg: #fff;
    --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-radius: 0.375rem;
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: #495057;
    --bs-list-group-action-hover-color: #495057;
    --bs-list-group-action-hover-bg: #f8f9fa;
    --bs-list-group-action-active-color: #212529;
    --bs-list-group-action-active-bg: #e9ecef;
    --bs-list-group-disabled-color: #6c757d;
    --bs-list-group-disabled-bg: #fff;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}

#sidebar-wrapper .list-group {
    width: 13rem;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}



.list-group-flush {
    border-radius: 0;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 var(--bs-list-group-border-width);
}

.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 0;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}



.latestNewsBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    height: 3.5rem;
    padding: 0 0 0 1rem;
    /* background-color: unset; */
}

.latestNewsBox span {
    background-color: #a1a1a11a;
    /* padding: 0 10px 0 0; */
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.latestNewsBox span i {
    transition: all 0.3s ease;
    color: #555555;
}

.latestNewsIcon.arrowIcon {
    /* transition: transform 0.3s ease; */
    transform: rotate(-90deg);
}

.child-items {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    /* background: rgb(80, 120, 193); */
}
.child-items a:last-child {
    border-bottom: 1px solid rgba(156, 156, 156, 0.79);
}
.child-items.visible {
    max-height: 155px;
    /* You can adjust this value according to your content */
}

.child-items a {
    background-color: #f1f1f169;
    padding: 0.8rem 1rem 0.8rem 2.1rem;
}





@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -13rem;
    }
}